<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Activities.activity_sign_up"
            android:exported="false" />
        <activity
            android:name=".Activities.activity_login"
            android:exported="false" />
        <activity
            android:name=".components.bottom_bar"
            android:exported="false" />
        <activity
            android:name=".Activities.activity_admin"
            android:exported="false" />
        <activity
            android:name=".Activities.activity_add_popular"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailActivity"
            android:exported="false" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.activity_display_users" />

        <activity
            android:name=".Activities.introActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>